export DISK="/dev/nvme0n1"
export ROOT_NAME="root"
export SWAP_NAME="swap"

export OFFSET_MB=1
export ESP_SIZE_MB=1024
export SWAP_SIZE_MB=$((1024 * 16))

export WIFI_SSID=
export WIFI_PASSWORD=
export ROOT_PARTITION_UUID=322a5723-ef2c-4691-b28c-60883539e067
